{% extends "app/home_trans.html" %} 
{% load static %}

{% block content %}

    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="contain">
                    <h1 class="text-center">Politique d'Engagement du Transporteur</h1><br>
                </div>
                {% for article in articles %}
                    <p>{{ article.info_trans }}</p>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}