{% extends "app/home_prest.html" %} 
{% load static %}

{% block content %}
<div class="">        
        <div class="">
            <div class="">
                <h1 class="">ITM/FORMDIAPPJ/V2.00</h1> <br>
            </div>
                <h2>FORMULAIRE DE DIAGNOSTIC ET DE PLAN DE PREVENTION JOURNALIER</h2><br> <br>
            
                
            <h3>A- DIAGNOSTIC</h3>
            <form action="" method="POST">
                {% csrf_token %}
                  <br>
                <div class="form_diagnostic">
                   
                    

                    <div class="form_diagnostic1">
                        
                            
                        <label for="num_reclamation">Numero de reclamation:</label> 
                        <input type="text" name="num_reclamation" required> <br> <br>
                                            
                        <label for="panne_annoncee">Panne Annoncée:</label>
                        <input type="text" name="panne_annoncee" required> <br> <br> 
                    
                        <label for="site">Site:</label> 
                        <input type="text" name="site" required><br> <br>
                
                        <label for="client">Client:</label> 
                        <input type="text" name="client" required> <br> <br>

                    </div>

                    <div class="form_diagnostic1">  
                            
                        <label for="localite">Localité:</label>
                        <input type="text" name="localite" required><br> <br>
                   
                        <label for="entreprise_intervenante">Entreprise intervenante:</label> 
                        <input type="text" name="entreprise_intervenante" required><br> <br> 
                    
                        <label for="categorie_reclamation">Categorie de réclamation:</label>
                        <input type="text" name="categorie_reclamation" required> <br> <br>
                    
                        <label for="echeance">Echeance:</label>
                        <input type="date" name="echeance" required><br> <br>
                    
                    </div>

                    <div class="form_diagnostic1">

                        <label for="interlocuteur">Interlocuteur:</label>
                        <input type="text" name="interlocuteur" required><br> <br>

                        <label for="fonction">fonction:</label>
                        <input type="text" name="fonction" required><br> <br>

                        <label for="panne_reel">panne reel:</label>
                        <input type="text" name="panne_reel" required><br> <br>

                        <label for="date_diagnostic">Date de diagnostic:</label>
                        <input type="date" name="date_diagnostic" ><br> <br>

                    </div>        


                </div>
                    
                       
              <!-- fin fin fin fin fin fin fin fin fin fin fin fin fin  -->

              <!-- prevention prevention prevention prevention prevention prevention -->



                <br>
                <h1>B- PLAN DE PREVENTION HSE</h1>
                <br>
                <h3 class="h3_form">B-1 RISQUE D'INTERFERENCE AVEC L'INTERVENTION</h3>
                <br>
                <div class="prevention">
                    <div class="prevention1">

                        <label for="">Livraison de carburant (dépotage) prévue à: </label> 
                        <input type="datetime-local" name="livraison_carburant" id=""> <br> <br>

                        <label for="">Présence dans la zone de travail de: Bouteilles de Gaz, Futs</label><br>
                        <input type="text" name="presence_zone" id=""> <br>
                        
                        <label for="">Autres trvaux prévus ce jour: </label><br>
                        <input type="text" name="autre_travaux" id=""><br>

                    </div>
                    
                    <div class="garcon_img">
                        <img src="{%static 'images/petit_garcon.png' %}" width="450" height="350" alt="">   
                    </div>
                  
                <!-- fin fin fin fin fin fin fin fin fin fin -->


                <!-- mesure mesure mesure mesure mesure messure mesure -->

                </div>
                
                <br>
                <h3><strong>B-2 MESURES DE SECURITE  OBLIGATOIRES</strong></h3><br>
                <div class="mesure">
                    <div class="">
                        
                        
                        <input type="checkbox" name="permis_specifique" id="">
                        <label for="permis_specifique">
                            Permis specifique pour les travaux a chaud et entree en espace confine
                        </label><br>
        
                        <input type="checkbox" name="information_personnel" id="">
                        <label for="information_personnel">
                            Information du personnel et visiteurs presents sur le lieu d'intervention
                        </label><br>
        
                        <input type="checkbox" name="port_EPI" id="">
                        <label for="port_EPI">
                            Port EPI de base (casque, lunettes, chaussures de securite, habits a bande reflechissante)
                        </label><br>
                    </div>
    
                   <div class="">
    
                        <input type="checkbox" name="balisage_perimetre" id="">
                        <label for="balisage_perimetre">
                            Balisage du perimetre de securite du lieu d'intervention
                        </label><br>
    
                        <input type="checkbox" name="extincteur_adapte">
                        <label for="">
                            Extincteurs adaptés
                        </label><br>
    
                        <input type="checkbox" name="interdiction_de_fumer" id="">
                        <label for="interdiction_de_fumer">Interdiction de fumer et de télephoner dans les zones à risque</label>
                        <br><br>
    
                   </div>
                </div>
                

                

                <!-- fin fin fin fin fin fin fin fin fin fin fin fin fin  -->

                <!-- nature nature nature nature travail travail travail travail -->
                <br> <br>

                <div class="form_nature">
                    
                    <div class="form_nature1">
                        <h2>B-3 NATURE DU TRAVAIL</h2><br>
                        <table id="customers">
                        
                        <div class="checbox">
                            <tr>
                                <td>travail à chaud :</td>
                                <td><input type="checkbox"  name="travail_chaud" > <br></td>                                                          
                            </tr>

                            <tr>
                                <td>Perçage, moulage, découpage :</td>
                                <td><input type="checkbox"  name="percage_moulage_decoupage" > <br></td>                               
                            </tr>
                            <tr>
                                <td>Chauffage, soudage:</td>
                                <td><input type="checkbox"  name="chauffage_soudage" > <br></td>                            
                            </tr>
                            
                            <tr>
                                <td>Grenaillage, sablage :</td>
                                <td><input type="checkbox" id="grenaillage_sablage" name="grenaillage_sablage" > <br></td>                                
                            </tr>

                            <tr>
                                <td>Utilisation d' équipement électroportatif :</td>
                                <td><input type="checkbox"  name="utilisation_equipement" > <br></td>                                
                            </tr>

                            <tr>
                                <td>Vidange/ dégazage/ nettoyage :</td>
                                <td><input type="checkbox"  name="vidange_degazage" > <br></td>                                
                            </tr>

                            <tr>
                                <td>Travaux de démolition :</td>
                                <td><input type="checkbox"  name="travaux_demolition"> <br></td>                                
                            </tr>                              

                            <tr>
                                <td>Travail en espace confiné :</td>
                                <td><input type="checkbox"  name="travail_espace" > <br></td>                                
                            </tr>

                            <tr>
                                <td>Déplacement sur site :</td>
                                <td><input type="checkbox"  name="deplacement_site" > <br></td>                                
                            </tr>
                                
                            <tr>
                                <td>Manutention/levage :</td>
                                <td><input type="checkbox"  name="manutention_levage" > <br></td>                                
                            </tr> 
                            
                            <tr>
                                <td>Travail en hauteur plus 1,80m :</td>
                                <td><input type="checkbox" name="travail_hauteur" > <br></td>                                
                            </tr>          

                            <tr>
                                <td>Travail sur tuyauterie/ appareil de distribution :</td>
                                <td><input type="checkbox"  name="travail_tuyauterie" > <br></td>                                
                            </tr>          

                            <tr>
                                <td>Fouille manuelle</td>
                                <td><input type="checkbox"  name="fouille_mannuelle" > <br></td>                                
                            </tr>          

                            <tr>
                                <td>Travaux d'excavation:</td>
                                <td><input type="checkbox"  name="travaux_excavation" > <br></td>                                
                            </tr>   
                            
                            <tr>
                                <td>Travail sur équipement électrique :</td>
                                <td><input type="checkbox"  name="travail_equipement" > <br></td>                                
                            </tr>      

                            <tr>
                                <td>Travail avec engin de chantier :</td>
                                <td><input type="checkbox"  name="travail_engin" > <br></td>                                
                            </tr>      

                            <tr>
                                <td>Opérations sur piste :</td>
                                <td><input type="checkbox"  name="operation_piste" > <br></td>                                
                            </tr>     

                            <tr>
                                <td>Travaux bruyants :</td>
                                <td><input type="checkbox"  name="travaux_bruyant" > <br></td>                                
                            </tr>      

                            <tr>
                                <td>Autres (à préciser) :</td>
                                <td><input type="text"  name="autre_nature" > <br></td>                                
                            </tr>      
                        </div>
                    </table>

                            
                    </div>
              
                    

                <!-- fin fin fin fin fin fin fin fin fin fin fin fin fin fin fin   -->

                <!-- nature nature nature nature nature nature nature nature nature nature nature -->


                    <br><br>
                    <div class="form_nature2">
                        <h2>Nature des risques</h2> <br>
                    <table id="customers">
                        <tr>
                            <td>Emission de gaz toxiques :</td>
                            <td><input type="checkbox" name="emission_gaz" id=""></td>
                        </tr>

                        <tr>
                            <td>Incendie :</td>
                            <td><input type="checkbox" name="incendie" id=""></td>
                        </tr>

                        <tr>
                            <td>Explosion :</td>
                            <td><input type="checkbox" name="explosion" id=""></td>
                        </tr>

                        <tr>
                            <td>Projection d'étincelles/particul :</td>
                            <td><input type="checkbox" name="projection_etincelle" id=""></td>
                        </tr>

                        <tr>
                            <td>Intoxication :</td>
                            <td><input type="checkbox" name="intoxication" id=""></td>
                        </tr>

                        <tr>
                            <td>Asphyxie :</td>
                            <td><input type="checkbox" name="asphyxie" id=""></td>
                        </tr>

                        <tr>
                            <td>Brulures :</td>
                            <td><input type="checkbox" name="brulure" id=""></td>
                        </tr>

                        <tr>
                            <td>Blessures :</td>
                            <td><input type="checkbox" name="blessure" id=""></td>
                        </tr>

                        <tr>
                            <td>Autres lésions :</td>
                            <td><input type="checkbox" name="autre_lesion" id=""></td>
                        </tr>

                        <tr>
                            <td>Chute de plain-pied :</td>
                            <td><input type="checkbox" name="chaute_plain_plied" id=""></td>
                        </tr>

                        <tr>
                            <td>Chute d'objet :</td>
                            <td><input type="checkbox" name="chute_objet" id=""></td>
                        </tr>

                        <tr>
                            <td>Chute de hauteur :</td>
                            <td><input type="checkbox" name="chute_hauteur" id=""></td>
                        </tr>

                        <tr>
                            <td>Incidents réseau enterré :</td>
                            <td><input type="checkbox" name="incident_reseau" id=""></td>
                        </tr>

                        <tr>
                            <td>Epandage: </td>
                            <td><input type="checkbox" name="epandage" id=""></td>
                        </tr>

                        <tr>
                            <td>Eboulement/ensevelissement :</td>
                            <td><input type="checkbox" name="eboulement" id=""></td>
                        </tr>

                        <tr>
                            <td>Electrocution/électricistion" :</td>
                            <td><input type="checkbox" name="electrocution" id=""></td>
                        </tr>

                        <tr>
                            <td>Incidents cables aériens :</td>
                            <td><input type="checkbox" name="incident-cable" id=""></td>
                        </tr>

                        <tr>
                            <td>Accident lié à la circulation :</td>
                            <td><input type="checkbox" name="accident_circulation" id=""></td>
                        </tr>

                        <tr>
                            <td>Autres lésions :</td>
                            <td><input type="text" name="autre_lesion" id="" required></td>
                        </tr>

                    </table>
                    </div>

                <!-- fin fin fin fin fin fin fin fin fin fin fin fin fin fin fin fin fin fin fin fin  -->


                <!-- mesure mesure mesure mesure mesure mesure mesure mesure mesure mesure mesure mesure -->

                    <div class="form_nature3">
                        <h4>MESURES PREVENTIVES</h4>
                        <br>
    
                        <label><strong><u>A la charge de la station-service</u> &nbsp; &nbsp; &nbsp; </strong></label>
                    
                        <label for="">Oui</label>
                        <input type="radio" name="charge_station_service" id="oui" value="Oui">
                        
                        <label for="">Non</label>
                        <input type="radio" name="charge_station_service" id="non" value="N/A"><br> <br>
    
                        
                        <label for="">Arret de la distribution &nbsp;</label>
                        <label for="">Partiel...</label>
                        <input type="radio" name="arret_distribution_total" id="" value="partiel">
    
                        <label for="">Total...</label>
                        <input type="radio" name="arret_distribution_total" id="" value="total"><br> 
                    
    
                        <label for="">fermeture de la station</label>
                        <input type="checkbox" name="fermeture_station" id=""><br>
                        
                        <label for="">Arret d'une activité (précisez):</label>
                        <input type="text" name="arret_activite" id="" required><br><br>
    
                        <p><strong><u>A la charge de la / les entreprise(s) extérieur(s)</u></strong></p><br>
                        <label for="">Test de gaz</label>
                        <input type="checkbox" name="test_gaz" id=""><br>
    
                        <label for="">Arret des travaux pendant le dépotage</label>
                        <input type="checkbox" name="arret_travaux_depotage" id=""><br>
    
                        <label for="">Arret des autres travaux prévus</label>
                        <input type="checkbox" name="arret_autre_travaux" id=""><br>
    
                        <label for="">Extincteurs adaptés</label>
                        <input type="checkbox" name="extincteur_adapte2" id=""><br>
    
                        <label for="">Mise à la terre correcte des équipements</label>
                        <input type="checkbox" name="mise_terre" id=""><br>
    
                        <label for="">Appareil respiratoire, ventilateur</label>
                        <input type="checkbox" name="appareil_respiratoire" id=""><br>
    
                        <label for="">Outillage/ éclairage/ vemti;ateur</label>
                        <input type="checkbox" name="outillage" id=""><br>
    
                        <label for="">Port EPI spécifiques (précisez)</label>
                        <input type="checkbox" name="port_EPI_2" id=""><br>
    
                        <label for="">Harnais et dispositif anti-chute</label>
                        <input type="checkbox" name="harnai" id=""><br>
    
                        <label for="">Echaffaudage approprié</label>
                        <input type="checkbox" name="echaffaudage" id=""><br>
    
                        <label for="">Renseignements sur réseaux enterrés</label>
                        <input type="checkbox" name="renseignement_reseaux_enterre" id=""><br>
    
                        <label for="">Consignation équipement ou système</label>
                        <input type="checkbox" name="consignation_equipement" id=""><br>
    
                        <label for="">Consignation électrique</label>
                        <input type="checkbox" name="consignation_electrique" id=""><br>
    
                        <label for="">Renseignements sur réseau aérien</label>
                        <input type="checkbox" name="renseignement_reseau_aerien" id=""><br>
    
                        <label for="">Aide à la circulation</label>
                        <input type="checkbox" name="aide_circulation" id="">
    
                        <br><br>
                    </div>       
                </div>
                <br><br>
                
                <h3>B-6. VISAS (PARTIE A REMPLIR CONJOINTEMENT PA RUN RESPONSABLE DU SITE 
                    ET PAR L'ENTREPRISE INTERVENANTE AVANT LE DEBUT DES TRAVAUX)</h3><br>
                    <strong>Entreprise(s) extérieure(s)</strong><br>
                    Responsable de l'intervenation: <br>
                    1: <input type="text" name="responsable_intervention1" id=""><br>
                    2: <input type="text" name="responsable_intervention2" id=""><br>
                    3: <input type="text" name="responsable_intervention3" id=""><br><br>

                    Nombre d'intervenants: <input type="number" name="nombre_intervenant" id="">
                    <br><br>

                <h3>B-7 AUTRES INSTRUCTIONS ETV MERSURE PREVENTIVES AUX INTERVENANTS</h3>
                <br>
                <input type="text" name="autre_instruction" id=""><br><br>

                Numéros d'urgence: 
                <input type="text" name="numero_urgence" id=""><br><br>

                <h3>B-8 VALIDATION AVANT LES TRAVAUX</h3><br>
                <strong>REPRESENTANT DES INTERVENANTS</strong><br>
                1.Nom: 
                <input type="text" name="nom_representant_intervenant1" id=""><br>
                2.Nom:
                <input type="text" name="nom_representant_intervenant2" id=""><br><br>

                <strong>RESPONSABLES DU SITE D'INTERVENTION</strong><br>
                Nom: 
                <input type="text" name="nom_site_intervention" id=""><br>
                Dare:
                <input type="date" name="date_site_intervention" id=""><br>
                Visa: 
                <input type="text" name="visa_site_intervention" id=""><br>
                Signature:
                <br><br>

                <h3>B-9 VALIDATION APRES LES TRAVAUX</h3><br>
                Le travail est terminé
                <input type="checkbox" name="travail_temine" id=""><br>
                La site est rendu à une exploitatiojn normale
                <input type="checkbox" name="site_laisse_normale" id=""><br><br>

                Le travail n'est pas terminé
                <input type="checkbox" name="travail_non_termine" id=""><br>
                Le site a été laissé propre et en sécurité
                <input type="checkbox" name="site_laisse_propre" id=""><br><br>

                <strong>RESPONSABLE DU SITE D'INTERVENTION</strong><br>
                Nom
                <input type="text" name="nom_site_intervention_fin" id=""><br>
                Date et heure 
                <input type="datetime-local" name="date_heure_site_intervention" id=""><br><br>

                <strong>REPRESENTANT DES INTERVENANTS</strong><br>
                Nom
                <input type="text" name="nom_representant_intervenant_fin" id=""> &nbsp;&nbsp;
                Signature <br>
                Date
                <input type="datetime-local" name="date_representant_intervenant_fin" id="">
                <input type="hidden" value="{{user}}" name="user_profile">

                <!-- fin fin fin fin fin fin fin fin fin fin fin fin fin fin fin fin fin fin fin fin  -->
                <br><br>
                <button type="submit">Enregistrer</button>

                {% for message in messages %}
                    <p id="messages">{{ message }}</p>
                {% endfor %}

            </form>
        </div>
</div>

{% endblock content %}